.balances {
	margin: auto;
}

.holdings-container {
	margin: 25px auto;
}

nav {
	background-color: #393e46;
}

#portfolio-nav {
	background-color: #f4f9f9;
	border: 1px solid;
	height: 40px;
	margin: auto;
	width: 80%;
}

.stocks {
	width: 100px;
}

th {
	justify-content: space-around;
}

.title-container {
	margin: 25px auto;
}

table {
	display: flex;
	justify-content: space-evenly;
	margin: 10;
}
