.balances {
	margin: auto;
}

.email-input {
	padding-top: 30px;
}

.holdings-container {
	margin: 25px auto;
}

.login-container {
	height: 100vh;
	background-image: url(images/stock-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#login-form {
	background-color: white;
	height: 50vh;
	width: 100%;
	max-width: 500px;
	padding: 30px;
	margin: auto;
}

nav {
	background-color: #077a20;
}

#portfolio-nav {
	background-color: #f4f9f9;
	border: 1px solid;
	height: 40px;
	margin: auto;
	width: 80%;
}

.stocks {
	width: 100px;
}

th {
	justify-content: space-around;
}

.title-container {
	margin: 25px auto;
}

table {
	display: flex;
	justify-content: space-evenly;
	margin: 10;
}

.registration-form {
	background-color: aqua;
	margin: 10%;
	padding: 15px;
}
