.balances {
	margin: auto;
}

.email-input {
	padding-top: 30px;
}

.holdings {
	margin-top: 15px;
}

.holdings-container {
	margin: 25px auto;
}

.login-container {
	height: 100vh;
	background-image: url(images/stock-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#login-form {
	background-color: white;
	height: 50vh;
	width: 100%;
	max-width: 500px;
	padding: 30px;
	margin: auto;
}

nav {
	background-color: #077a20;
}

#portfolio-nav {
	background-color: #f4f9f9;
	border: 1px solid;
	height: 40px;
	margin: auto;
	width: 80%;
}

.searched-stock-container {
	display: flex;
	justify-content: center;
	background-color: rgb(152, 152, 255);
	height: 40vh;
	margin-top: 20px;
	width: auto;
}

.stocks {
	width: 100px;
}

.stock-card {
	height: 40vh;
	width: 30rem;
}

.stock-card-header {
	font: bold;
}

.title-container {
	margin: 25px auto;
}

.holdings-table {
	display: flex;
	justify-content: space-evenly;
	margin: 10;
}
